/* Allgmein */
:root {
  --bg: #141d26;
  --head: #243447;
  --light: #33537a;
  --hover: #c51f5d;
  --text: #fff;
  --text2: #bbb;
  --text3: #888;
/* Status-Colors */
  --outdated: #777; /* stopped, removed or something else */
  --released: #479aff; /* game is released, no developement */
  --paused: #cc7824; /* not beta, PAUSED */
  --indev: #24cc53; /* not alpha, INDEV */
  --prototype: #cc246d; /* idk whats happening to this project */

  /* Status-Colors
    --outdated: #777;
    --released: #3c5e8b;
    --beta: #be772b;
    --alpha: #2b8435;
    --prototype: #a53030;
  */
}

body {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  color: var(--text);
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*Amimation*/
  /*background: linear-gradient(180deg, #243447 0%, #141d26 100%);*/
  background-color: var(--bg);
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--head);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

/*
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}*/

a {
  text-decoration: none;
}

/* Header */

.headBar {
  background: var(--head);
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.txtTitle {
  font-weight: 800;
  font-size: 40px;
  margin: 0px;
  color: var(--text);
}

.txtTitle:hover {
  color: var(--hover);
}

.txtSubtitle {
  font-weight: 800;
  font-size: 25px;
  margin: 0px;
}

.secHead {
  width: 100%;
  height: calc(~"100vh - 100px");
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heady:hover .txtTitle {
  color: var(--hover);
}

.heady:hover #logo {
  content:url("images/logopink.png");
}

.heady {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 96px;
  margin: 20px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.content {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Games */

.leftTitle {
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
}

.document {
  align-self: flex-start;
  font-weight: 400;
  font-size: 12px;
  color: var(--text2);
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
}

.leftContent {
  margin-left: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  align-self: flex-start;
  flex-grow: 2;
  overflow-y: auto;
}

.game {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  margin-top: 35px;
  margin-bottom: 35px;
}

.gameName {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gameName img {
  border-radius: 15%;
  border: 3px solid var(--text);
  width: 55px;
  margin: 0;
  margin-right: 20px;
  display: inline-block;
}

.tit {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
}

.ver {
  font-weight: 400;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 10px;
  display: inline-block;
  color: var(--text2);
}

#indev {
  color: var(--indev);
}

#paused {
  color: var(--paused);
}

#released {
  color: var(--released);
}

#canceled {
  color: var(--text3);
}

#prototype {
  color: var(--prototype);
}

#finished {
  color: var(--text);
}


/* LINKS */

.gameLinks {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 80px;
}

.gameLinks p {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  display: inline-block;
}

.gameLinks i {
  font-size: 15px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  align-self: right;
  width: 10px;
}

.gameLinks a {
  color: var(--text);
  margin-top: 2px;
  margin-bottom: 2px;
}

.gameLinks a:hover {
  color: var(--hover);
}

/* Twitter Timeline */

.twitter-timeline {
  background-color: transparent;
  color: var(--text);
}

/* Left-Bar Year */

.year {
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: var(--text2);
  display: inline-block;
}

/* Tumblr */

.midContent {
  margin-left: 50px;
  margin-right: 50px;
}

.tumblrTitle{
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}

/* Twitter */

.rightContent {
  margin-right: 50px;
  overflow-y: auto;
}

.twitterTitle{
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}

.twitterSubInfo{
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.twitterSubInfo a{
  color: var(--text);
  text-decoration: none;
}

.twitterSubInfo a:hover {
  color: var(--hover);
}

.twitter-timeline {
  background-color: var(--head);
}

.embedGame {
  width: 100%;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#unityContainer {
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 9px 12px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 9px 12px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 9px 12px rgba(0,0,0,0.27);
}

/* (C) 2021 noahschuette.de */
