/* Allgmein */
body {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*Amimation*/
  background: linear-gradient(180deg, #3c5e8b 0%, #253a5e 100%);
  text-align: center;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

a {
  text-decoration: none;
}

.headBar {
  background: #253a5e;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.txtTitle {
  font-weight: 800;
  font-size: 40px;
  margin: 0px;
  color: white;
}

.txtSubtitle {
  font-weight: 800;
  font-size: 25px;
  margin: 0px;
}

.secHead {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heady {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 150px;
  height: 150px;
  margin: 10px;
}

#logo3 {
  height: 80px;
  margin: 10px;
}

#logo2 {
  width: 200px;
}

/* (C) 2021 noahschuette.de */
