/* Allgmein */
body {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*Amimation*/
  background: linear-gradient(180deg, #3c5e8b 0%, #253a5e 100%);
  text-align: center;
  overflow-y: hidden;
}

/*
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}*/

a {
  text-decoration: none;
}

.headBar {
  background: #253a5e;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.txtTitle {
  font-weight: 800;
  font-size: 40px;
  margin: 0px;
  color: white;
}

.txtSubtitle {
  font-weight: 800;
  font-size: 25px;
  margin: 0px;
}

.secHead {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heady {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 150px;
  height: 150px;
  margin: 10px;
}

#logo3 {
  height: 80px;
  margin: 10px;
}

#logo2 {
  width: 200px;
}

/* LeftContent */

.content {
  margin-top: 50px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.leftContent {
  margin-left: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  align-self: flex-start;
  flex-grow: 2;
  overflow-y: auto;
}

.game {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  margin-top: 35px;
  margin-bottom: 35px;
}

.gameName {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gameName p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  display: inline-block;
}

.gameName img {
  border-radius: 15%;
  width: 55px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
}

.gameLinks {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 70px;
}

.gameLinks p {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  display: inline-block;
}

.gameLinks i {
  font-size: 15px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
}

.gameLinks a {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.gameLinks a:hover {
  color: #4f8fba;
}

/* Twitter Timeline */

.twitter-timeline {
  background-color: transparent;
  color: white;
}

.rightContent {
  margin-right: 50px;
  overflow-y: auto;
}

.year {
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: #bbbbbb;
  display: inline-block;
}

/* (C) 2021 noahschuette.de */
