/* Allgmein */
:root {
  --bg: #141d26;
  --head: #243447;
  --hover: #c51f5d;
  --text: #fff;
  --text2: #bbb;
}

body {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  color: var(--text);
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*Amimation*/
  /*background: linear-gradient(180deg, #243447 0%, #141d26 100%);*/
  background-color: var(--bg);
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--head);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

/*
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}*/

a {
  text-decoration: none;
}

.headBar {
  background: var(--head);
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.txtTitle {
  font-weight: 800;
  font-size: 40px;
  margin: 0px;
  color: var(--text);
}

.txtTitle:hover {
  color: var(--hover);
}

.txtSubtitle {
  font-weight: 800;
  font-size: 25px;
  margin: 0px;
}

.secHead {
  width: 100%;
  height: calc(~"100vh - 100px");
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heady {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 80px;
  margin: 10px;
}


/* LeftContent */

.content {
  margin-top: 50px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.leftContent {
  margin-left: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  align-self: flex-start;
  flex-grow: 2;
  overflow-y: auto;
}

.game {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  margin-top: 35px;
  margin-bottom: 35px;
}

.gameName {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gameName p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  display: inline-block;
}

.gameName img {
  border-radius: 15%;
  border: 3px solid var(--text);
  width: 55px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
}

.gameLinks {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 70px;
}

.gameLinks p {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  display: inline-block;
}

.gameLinks i {
  font-size: 15px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  align-self: right;
  width: 10px;
}

.gameLinks a {
  color: var(--text);
  margin-top: 2px;
  margin-bottom: 2px;
}

.gameLinks a:hover {
  color: var(--hover);
}

/* Twitter Timeline */

.twitter-timeline {
  background-color: transparent;
  color: var(--text);
}

.rightContent {
  margin-right: 50px;
  overflow-y: auto;
}

.year {
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: var(--text2);
  display: inline-block;
}

.twitter-timeline {
  background-color: transparent;
}

/* (C) 2021 noahschuette.de */
