/* Allgmein */
body {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*Amimation*/
  background-image: url(./images/bg.png);
  text-align: center;
  animation: gradient 20s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

a {
  text-decoration: none;
}

.headBar {
  background: rgba(37, 58, 94, 0.5);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.txtTitle {
  font-weight: 800;
  font-size: 40px;
  margin: 0px;
  color: white;
}

.txtSubtitle {
  font-weight: 800;
  font-size: 25px;
  margin: 0px;
}

.secHead {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heady {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.divTitle {
  align-self: center;
}

.lowerSection {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo2 {
  height: 8vh;
  margin: 10px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#phone {
  align-self: flex-start;
  height: 70vh;
  margin: 10px;
}

#playstore {
  align-self: flex-end;
  height: 8vh;
  margin: 10px;
}


.div
